body {
    padding: 50px;
    font-family: HelveticaLight, sans-serif;
}

@font-face {
    font-family: 'HelveticaLight';
    src: local('HelveticaLight'), url(./assets/fonts/HelveticaLight.woff) format('woff');
}

@font-face {
    font-family: 'HelveticaLight';
    src: local('HelveticaLight'), url(./assets/fonts/HelveticaLight.ttf) format('ttf');
}

@font-face {
    font-family: 'HelveticaLight';
    src: local('HelveticaLight'), url(./assets/fonts/HelveticaLight.eot) format('eot');
}